<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div><%= f.label :name %><br />
      <%= f.text_field :name %> </div>

    <div><%= f.label :register %><br />
      <%= f.text_field :register %> </div>

    <div><%= f.label :ic %><br />
      <%= f.text_field :ic %>  </div>

    <div><%= f.label :dic %><br />
      <%= f.text_field :dic %>   </div>

    <div><%= f.label :adress %><br />
      <%= f.text_field :adress %>   </div>

    <div><%= f.label :bank_account %><br />
      <%= f.text_field :bank_account %>   </div>

    <div><%= f.label :dph %><br />
      <%= f.text_field :dph %>   </div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
