<h1>Moje faktury</h1>
<div class="large-3 columns">

  <%= render @cart %>
</div>
<table>
  <tr>
    <th>Jméno</th>
    <th>Popis</th>
    <th>Cena</th>
    <th>Variabilní symbol</th>
    <th>Konstantní symbol</th>
    <th>Číslo faktury</th>
    <th>Datum vystavení</th>
    <th>Datum uskutečnění ZP</th>
    <th>Datum splatnosti</th>
    <th>Datum zaplacení</th>
    <th>Cena celkem</th>
    <th>Text</th>
    <th>Počet kusů</th>

  </tr>


  <% @invoices.each do |invoice| %>

      <td><%= Client.find(invoice.client_id).name %></td>
        <td><%= invoice.description %></td>
        <td><%= invoice.price %></td>
      <td><%= invoice.var_symbol %></td>
      <td><%= invoice.konst_symbol %></td>
      <td><%= invoice.numb_invoice %></td>
      <td><%= invoice.date_of_issue %></td>
      <td><%= invoice.date_of_the_chargeable_event %></td>
      <td><%= invoice.due_date %></td>
      <td><%= invoice.payment_date %></td>
      <td><%= invoice.total_price %></td>
      <td><%= invoice.pieces.last.try(:text) %></td>
      <td><%= invoice.pieces.last.try(:number_piece) %></td>

      <td><%= link_to 'Přehled položek', invoice_pieces_path(invoice) %></td>
      <td><%= link_to 'Prohlédnout', invoice %></td>
      <td><%= link_to 'Změnit', edit_invoice_path(invoice) %></td>
      <td><%= link_to 'Smazat', invoice, confirm: 'Are you sure?', method: :delete, class: "btn " %> </td>
      <td><%= link_to "clone", clone_invoice_path(invoice) %></td>
      <td><%= link_to "Přidat do košíku", line_items_path(:invoice_id => invoice), method: :post %>
      </td>
      </tr>
  <% end %>
</table>
<%= link_to "Nová faktura", new_invoice_path %>