<h1>Moje faktury</h1>

<table>
  <tr>
    <th>Jméno</th>
    <th>Popis</th>
    <th>Cena</th>
  </tr>



  <% @invoices.each do |invoice| %>

      <td><%= Client.find(invoice.client_id).name %></td>
        <td><%= invoice.description %></td>
        <td><%= invoice.price %></td>
      <td><%= link_to 'Prohlédnout', invoice %></td>
      <td><%= link_to 'Změnit', edit_invoice_path(invoice) %></td>
      <td><%= link_to 'Smazat', invoice, confirm: 'Are you sure?', method: :delete, class: "btn " %> </td>
      </tr>
  <% end %>

</table>
<%= link_to "Nová faktura", new_invoice_path %>