<p id="notice"><%= notice %></p>
<div class="row">
<div class="small-4 columns">

 Zákazník  </br>

  <b>Jméno:</b>
  <%= @invoice.client.name %>
</br>

  <b>Záznam v rejstříku:</b>
  <%= @invoice.client.register %>
</br>

  <b>IČ:</b>
  <%= @invoice.client.ic %>
</br>

  <b>DIČ:</b>
  <%= @invoice.client.dic %>
</br>

  <b>adresa:</b>
  <%= @invoice.client.adress %>
</br>

  <b>Plátce DPH:</b>
  <%= @invoice.client.hdp %>
</br>

  <b>Bankovní účet:</b>
  <%= @invoice.client.bank_account %>
</br>
</div>
<div class="small-4 columns">

  <b>Popis:</b>
  <%= @invoice.description %>
</br>

  <b>Variabilní symbol:</b>
  <%= @invoice.var_symbol %>
  </br>

  <b>Konstantní symbol:</b>
  <%= @invoice.konst_symbol %>
  </br>

  <b>číslo faktury:</b>
  <%= @invoice.numb_invoice %>
  </br>

  <b>Datum vystavení:</b>
  <%= @invoice.date_of_issue %>
  </br>

  <b>Datum uskutečnění zdanitelného plnění:</b>
  <%= @invoice.date_of_the_chargeable_event %>
  </br>

  <b>Datum splatnosti:</b>
  <%= @invoice.due_date %>
  </br>

  <b>Datum zaplacení:</b>
  <%= @invoice.payment_date %>
  </br>

  <b>Cena celkem:</b>
  <%= @invoice.total_price %>
  </br>



</br>  </div>
  <div class="small-4 columns">
Prodávající </br>

<b>Jméno:</b>
  <%= @current_user.name %>   </br>


  <b>email:</b>
  <%= @current_user.email %> </br>

  <b>Záznam v registru:</b>
  <%= @current_user.register %>  </br>

  <b>IČ:</b>
  <%= @current_user.ic %>  </br>

  <b>DIČ:</b>
  <%= @current_user.dic %>  </br>

  <b>Adresa:</b>
  <%= @current_user.adress %>    </br>

  <b>Plátce DPH:</b>
  <%= @current_user.dph %>  </br>

  <b>Bankovní účet:</b>
  <%= @current_user.bank_account %>   </br>
  </div>        </br>
  <div class="small-4 columns">
  <b>Položky:</b>


  <% @invoice.pieces.each do |piece| %>
  <%= piece.text %>
  <% end %>

</div>
</div>
<%= link_to "Odeslat upomínku", :action => "mail" %>
    <%= link_to "Zpět", invoices_path %>
    <%= link_to 'Změnit', edit_invoice_path %>


