<p id="notice"><%= notice %></p>
<div class="row">
<div class="small-4 columns">

 Zákazník  </br>

  <b>Jméno:</b>
  <%= @invoice.client.name %>
</br>

  <b>Záznam v rejstříku:</b>
  <%= @invoice.client.register %>
</br>

  <b>IČ:</b>
  <%= @invoice.client.ic %>
</br>

  <b>DIČ:</b>
  <%= @invoice.client.dic %>
</br>

  <b>adresa:</b>
  <%= @invoice.client.adress %>
</br>

  <b>Plátce DPH:</b>
  <%= @invoice.client.hdp %>
</br>

  <b>Bankovní účet:</b>
  <%= @invoice.client.bank_account %>
</br>
</div>
<div class="small-3 columns">
  <b>Popis:</b>
  <%= @invoice.description %>
</br>

  <b>Cena:</b>
  <%= @invoice.price %>
</br>  </div>
  <div class="small-4 columns">
Prodávající </br>

<b>Jméno:</b>
  <%= @current_user.name %>   </br>


  <b>email:</b>
  <%= @current_user.email %> </br>

  <b>Záznam v registru:</b>
  <%= @current_user.register %>  </br>

  <b>IČ:</b>
  <%= @current_user.ic %>  </br>

  <b>DIČ:</b>
  <%= @current_user.dic %>  </br>

  <b>Adresa:</b>
  <%= @current_user.adress %>    </br>

  <b>Plátce DPH:</b>
  <%= @current_user.dph %>  </br>

  <b>Bankovní účet:</b>
  <%= @current_user.bank_account %>   </br>
  </div> </div>
    <%= link_to "Stáhnout PDF", invoice_path(@invoice, :format => "pdf") %>
    <%= link_to "Zpět", invoices_path %>
    <%= link_to 'Změnit', edit_invoice_path %>


