<%= form_for([@user, @client]) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Jméno" %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :business_name, "Obchodní jméno" %><br>
      <%= f.text_field :name %>
    </div>
  <div class="field">
    <%= f.label :register, "Zápis v rejstříku" %><br>
    <%= f.text_field :register %>
  </div>
  <div class="field">
    <%= f.label :ic , "IC"%><br>
    <%= f.text_field :ic %>
  </div>
  <div class="field">
    <%= f.label :dic, "DIC" %><br>
    <%= f.text_field :dic %>
  </div>
  <div class="field">
    <%= f.label :street, "Ulice" %><br>
    <%= f.text_field :street %>
  </div>
    <div class="field">
      <%= f.label :street2, "Ulice2" %><br>
      <%= f.text_field :street2 %>
    </div>
    <div class="field">
      <%= f.label :city, "Město" %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :PSC, "PSČ" %><br>
      <%= f.text_field :PSC %>
    </div>
  <div class="field">
    <%= f.label :bank_account,"Bankovní účet" %><br>
    <%= f.text_field :bank_account %>
  </div>
    <div class="field">
      <%= f.label :IBAN, "IBAN" %><br>
      <%= f.text_field :IBAN %>
    </div>
    <div class="field">
      <%= f.label :SWIFT, "SWIFT" %><br>
      <%= f.text_field :SWIFT %>
    </div>
  <div class="field">
    <%= f.label :hdp, "Plátce DPH" %><br>
    ANO<%= f.check_box :hdp, {}, "true", "false" %>
  </div>

  <div class="actions">
    <%= f.submit "Nový klient" %>
  </div>
<% end %>
