<h1>Moji Klienti <%= @email %> </h1>

<table>
  <thead>
    <tr>
      <th>Jméno</th>
      <th>Obchodní jméno</th>
      <th>Zápis v rejstříku</th>
      <th>IČ</th>
      <th>DIČ</th>
      <th>Ulice</th>
      <th>Ulice2</th>
      <th>Město</th>
      <th>PSČ</th>
      <th>Bankovní účet</th>
      <th>IBAN</th>
      <th>SWIFT</th>
      <th>Hdp</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.register %></td>
        <td><%= client.ic %></td>
        <td><%= client.dic %></td>
        <td><%= client.adress %></td>
        <td><%= client.bank_account %></td>
        <td><%= client.hdp %></td>

        <td><%= link_to 'Prohlédnout', client_path( client), class: "btn " %></td>
        <td><%= link_to 'Změnit', edit_client_path( client), class: "btn " %></td>
        <td><%= link_to 'Smazat', client_path( client), :confirm => 'Opravdu smazat?', :method => :delete, class: "btn " %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Nový Klient', new_client_path(@user), class: "btn " %>
<%= link_to 'Zpět na ', @user, class: "btn " %>
