


<nav class="top-bar">

    <div class=" large-2 columns">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Faktura-api </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
    </div>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">

    </ul>

    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li class="active"><%= link_to("Home", root_path) %></li>
      <li class="divider"></li>

      <% if signed_in? %>
      <li class="has-dropdown"><a href="#">Můj účet</a>


        <ul class="dropdown">

          <li><%= link_to('Změnit údaje', edit_user_registration_path(@user)) %></li>
          <li><%= link_to('Moji klienti', clients_path ) %></li>
          <li class="divider"></li>
          <li><%= link_to('Moje faktury', invoices_path ) %></li>

        </ul>
      </li>
      <li class="divider"></li>
       <% end %>


      <li class="has-form">
        <form>
          <div class="row collapse">
            <div class="small-8 columns">
              <input type="text">
            </div>
            <div class="small-2 columns">
              <a href="#" class="alert button">Search</a>
            </div>
          </div>
        </form>
      </li>
      <li class="divider show-for-small"></li>
      <li class="has-form">
        <% if signed_in? %>
        <%= link_to "Odhlásit", destroy_user_session_path, :method => :delete %>
            <% else %>
            <%= link_to('Přihlásit', new_user_session_path)  %>
      <% end %>
      </li>
    </ul>
  </section>
</nav>
</div>